@layer base {
  :root {
    --transition-duration: 200ms;
    --transition-timing: ease-in-out;
  }

  * {
    transition: 
      background-color var(--transition-duration) var(--transition-timing),
      border-color var(--transition-duration) var(--transition-timing),
      color var(--transition-duration) var(--transition-timing);
  }
}

.theme-transition {
  transition: 
    background-color var(--transition-duration) var(--transition-timing),
    border-color var(--transition-duration) var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}
