
FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]   # allowed types (txt, pdf)
FILE_MAX_SIZE=10 # MB
FILE_CHUNK_SIZE=512000 # 512 KB

DB_NAME="chat_db"
DB_HOST="localhost"
DB_PORT=5433
DB_USER="postgres"
DB_PASSWORD="mysecretpassword"


############################################## LLM CONFIG ##############################################
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="GOOGLE"

GROQ_API_KEY=""

OPENAI_API_KEY=""
OPENAI_URL_BASE="https://openrouter.ai/api/v1"

GOOGLE_API_KEY=""

GENERATION_MODEL_ID=""
EMBEDDING_MODEL_ID=""
EMBEDDING_SIZE=

DEFAULT_INPUT_MAX_CHARACTERS=1000
DEFAULT_MAX_NEW_TOKENS=1000
DEFAULT_TEMPERATURE=0.1

############################################## VectorDB CONFIG ##############################################

VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrantdb"
VECTOR_DB_DISTANCE_METHOD="cosine"


############################################## Templates CONFIG ##############################################

DEFAULT_LANGUAGE="en"
PRIMARY_LANGUAGE="en"


############################################## QUIZ LLMs CONFIG ##############################################

QUIZ_GENERATION_MODEL_ID=""
QUIZ_GENERATION_MODEL_TEMPERATURE=1
AGENTOPS_API_KEY=""
