@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #EFE9FC;
    --bg-sidebar: #F7F7F7;
    --bg-input: #FFFFFF;
    --bg-user-message: #EFE9FC;
    --bg-decoration: #F7F7F7;
    
    --text-primary: #0E1117;
    --text-secondary: #5F24E0;
    --text-muted: #ABABAB;
    --text-chat: #1C0B43;
    
    --icon-primary: #A6B5BB;
    --icon-hover: #5F24E0;
    
    --border-color: #A6B5BB;
  }

  .dark {
    --bg-primary: #1C0B43;
    --bg-secondary: #1C0B43;
    --bg-sidebar: rgba(191, 167, 243, 0.8);
    --bg-input: rgba(191, 167, 243, 0.8);
    --bg-user-message: rgba(191, 167, 243, 0.8);
    --bg-decoration: rgba(191, 167, 243, 0.8);
    
    --text-primary: #EFE9FC;
    --text-secondary: #BFA7F3;
    --text-muted: #EFE9FC;
    --text-chat: #EFE9FC;
    
    --icon-primary: #FFBF00;
    --icon-hover: #E6AC00;
    
    --border-color: #BFA7F3;
  }

  h1, h2, h3, h4, h5, h6, p, span, div, a {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.2; /* Reduced line-height */
  }
}

.nav-link {
  position: relative;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.25rem 0;
  transition: color 200ms ease-in-out;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--text-secondary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 200ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
